[submodule "f1tenth_abs"]
	path = f1tenth_abs
	url = git@github.com:klammecr/f1tenth_abs.git
[submodule "f1tenth_wall_following"]
	path = f1tenth_wall_following
	url = git@github.com:klammecr/f1tenth_wall_following.git
[submodule "f1tenth_gym_ros"]
	path = f1tenth_gym_ros
	url = git@github.com:f1tenth-cmu/f1tenth_gym_ros.git
[submodule "f1tenth_follow_the_gap"]
	path = f1tenth_follow_the_gap
	url = https://github.com/klammecr/f1tenth_follow_the_gap
[submodule "f1tenth_pure_pursuit"]
	path = f1tenth_pure_pursuit
	url = git@github.com:klammecr/f1tenth_pure_pursuit.git
